LLM_BASE_URL= https://api.openrouter.com/v1
OPENAI_API_KEY= 
LLM_MODEL_NAME = qwen/qwen3.5-35b-a3b
UNSPLASH_API_KEY=
TAVILY_API_KEY=
SERPER_API_KEY = 
VLM_BASE_URL= 
VLM_API_KEY= 
VLM_MODEL_NAME = qwen/qwen3.5-35b-a3b
EVAL_LANGUAGE_MODEL = gpt-4o
EVAL_VISION_MODEL = gpt-4o
EVAL_BASE_URL = gpt-4o
EVAL_API_KEY = gpt-4o

FEEDBACK_INTERATION_NUMBER = 3