# --- LLM CONFIGURATION (GENERATION) ---
LLM_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=your_openai_api_key_here
LLM_MODEL_NAME=gpt-4o

# --- VLM CONFIGURATION (MULTIMODAL) ---
VLM_BASE_URL=https://api.openai.com/v1
VLM_API_KEY=your_vlm_api_key_here
VLM_MODEL_NAME=gpt-4o

# --- EVALUATION CONFIGURATION (LLM-AS-A-JUDGE - We are using GPT-4o for baseline benchmarking)  ---
EVAL_LANGUAGE_MODEL=gpt-4.1-mini
EVAL_VISION_MODEL=gpt-4.1-mini
EVAL_BASE_URL=https://api.openai.com/v1
EVAL_API_KEY=your_eval_api_key_here

# --- PIPELINE CONFIGURATION ---
IMAGE_MATCH_THRESHOLD=0.18
IMAGE_MATCH_MAX_IMAGES_PER_SLIDE=2
