__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
data/raw/*
data/assets/*
data/context/*
data/lectures/*
data/optimization/*
!data/raw/.gitkeep
!data/assets/.gitkeep
!data/context/.gitkeep
!data/lectures/.gitkeep
!data/optimization/.gitkeep
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_Store

output/*


api_dspy_key.ipynb
api_llm_test.py
PROJECT_STRUCT.md
PROJECT.md
test
ppt-agent-benchmark/*


