__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
data/lectures/*
data/optimization/*
!data/lectures/.gitkeep
!data/optimization/.gitkeep
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_Store

output/*
!output/.gitkeep


api_dspy_test.ipynb
api-test.py
src/layout_generator/
test

src/generator/slidev/*.md
src/generator/slidev/*.pdf
token_count.ipynb

